* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Signika Negative", sans-serif;
}
body {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(90deg, rgb(255, 94, 0) 0%, rgb(187, 255, 0) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: #e2dcd9;
  border-radius: 25px;
  box-shadow: 0 4px 8px #423f3e;
  width: 500px;
  max-width: 100%;
  overflow: hidden;
}
.header {
  background-color: #423f3e;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}
.form {
  padding: 20px;
}
.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
  font-size: 20px;
}
.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}
.form-control input {
  border: solid 2px #f5f3f3;
  display: block;
  border-radius: 10px;
  font-size: 18px;
  width: 100%;
  padding: 10px;
}
.form-control i {
  position: absolute;
  right: 10px;
  top: 45px;
  visibility: hidden;
}
.form-control small {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}
.form button {
  background-color: #f8483f;
  border: solid 2px #f8483f;
  color: #ffffff;
  font-size: 16px;
  width: 100%;
  border-radius: 15px;
  padding: 10px;
}
.form-control.success input {
  border-color: #5be858;
}
.form-control.error input {
  border-color: #a80e16;
}
.form-control.success i.fa-check-circle {
  color: #5be858;
  visibility: visible;
}
.form-control.error i.fa-exclamation-circle {
  color: #a80e16;
  visibility: visible;
}
.form-control.error small {
  color: #a80e16;
  visibility: visible;
}
#eye1,
#eye2 {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}
